@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply bg-gray-50 text-gray-900 dark:bg-gray-900 dark:text-gray-100 transition-colors duration-500;
    }
}

:root {
  --bar-width: 30px;
  --bar-height: 3px;
  --hamburger-gap: 6px;
  --foreground: #333;
  --background: white;
  --hamburger-margin: 24px;
  --animation-timing: 200ms ease-in-out;
  --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);
}

.hamburger-menu {
  --x-width: calc(var(--hamburger-height) * 1.41421356237);

  display: flex;
  flex-direction: column;
  gap: var(--hamburger-gap);
  width: max-content;
  cursor: pointer;
  position: fixed;
  top: var(--hamburger-margin);
  right: var(--hamburger-margin); 
  z-index: 1002;
}

.hamburger-menu:has(input:checked) {
  --foreground: white;
  --background: #333;
}

.hamburger-menu:has(input:focus-visible)::before,
.hamburger-menu:has(input:focus-visible)::after,
.hamburger-menu input:focus-visible {
  border: 1px solid var(--background);
  box-shadow: 0 0 0 1px var(--foreground);
}

.hamburger-menu::before,
.hamburger-menu::after,
.hamburger-menu input {
  content: "";
  width: var(--bar-width);
  height: var(--bar-height);
  @apply bg-gray-900 dark:bg-gray-100;
  border-radius: 9999px;
  transform-origin: left center;
  transition: opacity var(--animation-timing), width var(--animation-timing),
    rotate var(--animation-timing), translate var(--animation-timing),
    background-color var(--animation-timing);
}

.hamburger-menu input {
  appearance: none;
  padding: 0;
  margin: 0;
  outline: none;
  pointer-events: none;
}

.hamburger-menu:has(input:checked)::before {
  rotate: 45deg;
  width: var(--x-width);
  translate: 0 calc(var(--bar-height) / -2);
}

.hamburger-menu:has(input:checked)::after {
  rotate: -45deg;
  width: var(--x-width);
  translate: 0 calc(var(--bar-height) / 2);
}

.hamburger-menu input:checked {
  opacity: 0;
  width: 0;
}

.sidebar {
  transition: transform var(--animation-timing);  
  transform: translateX(100%);  
  padding: 0.5rem 1rem;
  padding-top: calc(var(--hamburger-height) + var(--hamburger-margin) + 1rem);
  @apply bg-gray-500 dark:bg-gray-700 text-slate-700 dark:text-white;
  width: 16rem;  /* Set a fixed width */
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1001;
}

.hamburger-menu:has(input:checked) + .sidebar {
  transform: translateX(0); 
}

@media (min-width: 768px) {
  .hamburger-menu, .sidebar {
    display: none;
  }
}

@layer components {
  .nav-container {
    @apply p-4 bg-transparent transition-all duration-300 ease-in-out;
  }

  .nav-container:hover {
    @apply bg-gray-100 dark:bg-gray-800;
  }

  .nav-link {
    @apply text-gray-500 dark:text-gray-400 hover:text-gray-700 dark:hover:text-white px-3 py-2 rounded-md text-sm font-medium transition-all duration-300 ease-in-out;
  }

  .nav-container:hover .nav-link {
    @apply text-gray-700 dark:text-gray-300;
  }

  .nav-container:hover .nav-link:hover {
    @apply dark:bg-gray-900 text-gray-900 dark:text-white shadow-md;
  }

  .nav-link.selected {
    @apply border-b-2 border-gray-900 dark:border-gray-100;
  }
}


